/*Log.css*/


.chat_log {
    margin-bottom: 16px;
}

.input_log {
    display: flex;
    justify-content: flex-end;
    margin-right: 40vh;
    margin-left: 40vh;
    font-size: 20px;
    margin-top: 10px;
    position: relative; /* 吹き出しの三角形のために必要 */
    padding: 10px; /* 吹き出し内の余白 */
    border-radius: 10px;
    background-color: #e1f5fe; /* ユーザーの吹き出し色 */
    max-width: 100%; /* 吹き出しの最大幅 */
    position: relative; /* 吹き出しの相対位置 */
}

.bot_log {
    display: flex;
    justify-content: flex-start;
    margin-right: 40vh;
    margin-left: 40vh;
    font-size: 20px;
    margin-top: 10px;
    position: relative; /* 吹き出しの三角形のために必要 */
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1; /* ボットの吹き出し色 */
}
