/* Start.css */
.start-container {
  text-align: center;
  margin: auto;
  padding-top: 240px;
}

/* .difficulty-level {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
} */