/* Start.css */


.start-container {
  text-align: center;
  margin: auto;
  padding-top: 200px;
}

.start-container > .MuiFormControl-root {
  margin-bottom: 40px; /* 入力欄とスタートボタンの間隔を広げる */
}


/* .difficulty-level {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
} */